name: fermibottle ci 
on:
  push:
    branches: [ "master" ]
    paths-ignore:
      - '**.md'
      - .clang-format
      - .dockerignore
      - .gitignore
      - docker-compose.yml
      - Dockerfile
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'warning'
jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Run tests by hand
        id: confirm_inside_env
        run: |
           echo "look around  jsa"
           pwd
           ls -l

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          buildkitd-flags: --debug

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          load: true
          file: ./docker/Dockerfile
          platforms: linux/arm64
          push: false
          tags: user/app:latest
          # Caching helps speed up subsequent builds
          # cache-from: type=gha
          # cache-to: type=gha,mode=max
          # context: ./docker
